<%= stylesheet_link_tag 'show', :media => "all" %>

<h1>showedy</h1>

<h3>コメント一覧</h3>
<%= link_to "新規投稿へ", new_variety_path %>
  <% @varieties.each do |t| %>
    <div class="kitakore">
         <%= t.title %>
    　　  <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>      
          <div id="star-rate-<%= t.id %>"></div>
          <script>
          $('#star-rate-<%= t.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= t.rate%>,
          });
          </script> 
          <div class= "tekitou">
          <%= t.about %>
          </div>
          <%= t.date %><br>
          <%= t.cast %><br>
      <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                    <%= link_to variety_like_path(id: t.id, variety_id: t.id), method: :delete do %>
                      <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% else %>
                  <%= link_to variety_likes_path(id: t.id, variety_id: t.id), method: :post do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                 <% end %>
                <% end %>
      <% else %>
          <p>いいねの数 = </p><%= t.likes.count %>
          <i class="far fa-heart"></i>
      <% end %>
          <%= t.created_at %>
          <%= image_tag t.image_url, size: "250x200" if t.image? %>
         <div class="right">
              <%= link_to "詳細へ", variety_path(t.id) , class: "button"%>
            <% if user_signed_in? && current_user.id == t.user_id %>  
              <%= link_to "編集する", edit_variety_path(t.id), class: "button"%>
              <%= link_to "削除する", variety_path(t.id), method: :delete, class: "button"%>
            <% end %> 
          </div>
     </div>
  <% end %>




<% if user_signed_in? %>
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
       <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
       <% end %>
      
 




