<h1>showedy</h1>
<h3>新規投稿</h3>
<%= form_for @variety do |f| %>
  <div class="container">
    <div class="container2">
        <div class="field">
        <%= f.label :title %>
        <%= f.text_area :title, :size => "60x3" %>
        </div>
        
        
        <div class="form-group row" id="star">
        <%= f.label :rate,'総合評価', class:'col-md-3 col-form- label' %>
        <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <!-- 評価javascript -->
        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'variety[rate]',
          half: true,
        });
        </script>  


        <div class="field">
        <%= f.label :about %>
        <%= f.text_area :about, :size => "60x13" %>
        </div>
      </div>
    <div class="container2">
      <div class="field">
      <%= f.label :date %>
      <%= f.select :date,
      [["月曜日","月曜日放送中!!"],
        ["火曜日","火曜日放送中!!"],
        ["水曜日","水曜日放送中!!"],
        ["木曜日","木曜日放送中!!"],
        ["金曜日","金曜日放送中!!"],
        ["土曜日","土曜日放送中!!"],
        ["日曜日","日曜日放送中!!"]], include_blank: "選択してください" %>
      </div>

      <div class="field">
      <%= f.label :cast %>
      <%= f.text_field :cast, :size => "60x4" %>
      </div>

      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <a href="" class="btn btn--orange">PUSH</a>
      <%= f.submit "コメントを投稿する"  %>
      </div>
   </div>
<% end %>
<%= link_to "Variety一覧に戻る", varieties_path %>

