<h1>showedy</h1>
<h3>番組詳細</h3>
<div class="box25">
  <p><%= @variety.title %></p>
  <p><%= @variety.about %></p>
  <p><%= @variety.date %></p>
  <p><%= @variety.cast %></p>
  <p><%= @variety.created_at %></p>
  <%= image_tag @variety.image_url, size: "250x200" if @variety.image? %>

   <% if user_signed_in? %>
   <% if current_user.already_liked?(@variety) %>
       <%= button_to variety_like_path(@variety), method: :delete do %>
        <i class="fas fa-heart"></i><%= @variety.likes.count %>
          
       <% end %>
    <% else %>
       <%= button_to variety_likes_path(@variety), method: :post do %>
        <i class="far fa-heart"></i><%= @variety.likes.count %>
         
       <% end %>
      <% end %>
    <% else %>
   <i class="far fa-heart"></i><%= @variety.likes.count %>
    
   <% end %>
   <div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |c| %>
      <div>
        <%= c.user.email unless c.user.blank? %>
        <br>
        <%= c.content %>
      </div>
        <br>
   <% end %>
 
   <% if user_signed_in? %>
     <%= form_with(model: [@variety, @comment], local: true) do |f| %>
       <%= f.text_area :content %>
       <%= button_tag type: "submit" do %>
         <i class="far fa-comments"></i> コメントする
       <% end %>
     <% end %>
   <% end %>
</div>

<%= link_to "variety一覧に戻る", varieties_path %>
