
<h3>番組詳細</h3>
<div class="matsutai">
<%= image_tag @variety.image_url, size: "450x300" if @variety.image? %>
</div>
  <div class="card-title">
  <%= @variety.title %>
  </div>
  <div class="tekitou2"><%= @variety.about %>
  </div>
    <div class="tekitou3">
  <p>放送日:<%= @variety.date %></p>
  <i class="fas fa-user-alt"></i><p><%= @variety.cast %></p>
   <% if user_signed_in? %>
   <% if current_user.already_liked?(@variety) %>
       <%= button_to variety_like_path(@variety), method: :delete do %>
        <i class="fas fa-heart"></i><%= @variety.likes.count %>
    </div>
       <% end %>
    <% else %>
       <%= button_to variety_likes_path(@variety), method: :post do %>
        <i class="far fa-heart"></i><%= @variety.likes.count %>
       <% end %>
      <% end %>
    <% else %>
   <i class="far fa-heart"></i><%= @variety.likes.count %>
   <% end %>
   </div>

   <div class="comment-wrapper">
   <div class="toukoutitle">
    コメント一覧
    </div>
    <% @comments.each do |c| %>
      <div class="haikei22">
        <%= c.user.email unless c.user.blank? %>
        <br>
        <%= c.content %>
      </div>
        <br>
   <% end %>
 
   <% if user_signed_in? %>
     <%= form_with(model: [@variety, @comment], local: true) do |f| %>
      <div class="field">
      <%= f.text_area :content, :size => "105x2" %>
      </div>
      <div class="contentbutton">
       <%= button_tag type: "submit" do %>
         <i class="far fa-comments"></i> コメントする   
         </div>
       <% end %>
     <% end %>
   <% end %>


<%= link_to "variety一覧に戻る", varieties_path %>
