h1>users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.varieties.each do |t| %>
  <div class="kitakore">
    <%= t.title %>
    <%= t.about %>
    <%= t.cast %>
    <%= t.created_at %>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    </div>
<% end %>


<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_varieties.each do |t| %>
  <div class="kitakore">
  <%= t.user.name %>
        <%= t.title %>
        <%= t.about %>
        <%= t.cast %>
        <%= t.created_at %>
         <%= image_tag t.image_url, size: "250x200" if t.image? %>
  </div>
<% end %>
<!-- ここまで-->

<%= link_to "Tweet一覧に戻る", varieties_path %>