<!DOCTYPE html>

<html>
  <head>
    <title>Likeflower</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <h1>likeflower</h1>
      <div class="header-list">
      <ul>
      　　<% if user_signed_in? %>
          <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
          <% end %>
      
        <% if user_signed_in? %>
          <%= link_to "マイページへ", user_path(current_user.id) %>　
        <% end %>

        <li><%= link_to "ランキング",varieties_rank_path %></li>
        <li><%= link_to "ホーム", varieties_path %></li>
        <li><%= link_to "新規投稿",new_variety_path %></li>
        <li><%= link_to "このサイトについて",varieties_about_path %></li>
      </ul>
      </div>
      </header>
       <main>
      <%= yield %>
     </main>
  </body>
</html>
