<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="cp_iptxt">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"ef", placeholder:"" %>
    <label>お名前</label>
	  <span class="focus_line"></span>
    </div>

    <div class="cp_iptxt">
    <%= f.text_field :email, autofocus: true, autocomplete: "email", class:"ef", placeholder:"" %>
    <label>E-mail</label>
	  <span class="focus_line"></span>
    </div>

    <div class="cp_iptext">
        <%= f.label :プロフィール %>
        <%= f.text_field :profile, :size => "60x13" %>
        </div>

  <div class="cp_iptxt">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="cp_iptxt">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="cp_iptxt">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>アカウントを消しますか？<%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

